# Python
__pycache__/
*.pyc

# Build and Distribution
build/
dist/
*.spec
GateFinder_Release/

# Configuration and Local Settings
settings.json
cloud_rules_cache.json

# Test data and temp files
test.json
new_airports.json

# Executables
*.exe
